body {
  background-color: #FFFFCC;

  h1 {
    color: #020;
  }
}

.code {
  display: inline-block;
  margin: auto 0.3rem;
  padding: 4px 8px;
  border: 1px solid #566b7f;
  border-radius: 2px;
  background: #0f192a;
  color: #d1edff;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 0.9rem;
  line-height: 1;
  vertical-align: middle;
  zoom: 1;
}

.drag-and-drop {
  cursor: move;
  position: absolute;
  z-index: 1000;
}

.drag {
  z-index: 1001;
}
.zennei
  width: 50px;
  height: 80px;
  background-color: #99cc00;
.kouei
    width: 50px;
    height: 80px;
    background-color: #99caaa;
.deck
  width: 50px;
  height: 80px;
  background-color: #CC9966;
.hands
  width: 50px;
  height: 80px;
  background-color: #6699FF;

#dekai {
  width: 5000px;
  height: 5000px;
}

.hotpink-style {
  color: 'hotpink';
  fontSize: '3rem';
  fontWeight: 'bold';
}
